<section class="detail-container">
  <a href="/optimyang_info" class="back-btn flex-start flex-align-items-center">
    <%= image_tag "back-btn.png", class: "back-btn-image" %>
    <p>뒤로</p>
  </a>
  <h1 class="detail-section-title">버전 기록</h1>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">1.00</h3>
      <p class="version-date">1995.02.15.</p>
    </div>
    <p class="version-content">인간형 AI 로봇 데이터 학습 시작</p>
    <p class="version-content version-content-gray">당신은 사랑받기 위해 태어난 사람</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">19.00</h3>
      <p class="version-date">2012.11.07.</p>
    </div>
    <p class="version-content">AI 로봇 최초 입시 도전</p>
    <p class="version-content version-content-gray">2013 대학수학능력시험: 첫 수능</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">20.00</h3>
      <p class="version-date">2013.11.13.</p>
    </div>
    <p class="version-content">입시 재도전</p>
    <p class="version-content version-content-gray">2014 대학수학능력시험: 두 번째 수능</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">21.00</h3>
      <p class="version-date">2014.02.19.</p>
    </div>
    <p class="version-content">숙명여자대학교 미디어학부 입학</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">22.00</h3>
      <p class="version-date">2015.03.02.</p>
    </div>
    <p class="version-content">C 언어 데이터 학습 시작</p>
    <p class="version-content version-content-gray">멀티미디어과학과(현 IT공학과) 전공 수업 '프로그래밍기초' 수강</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">22.01</h3>
      <p class="version-date">2015.09.01.</p>
    </div>
    <p class="version-content">C++ 데이터 학습 시작</p>
    <p class="version-content version-content-gray">멀티미디어과학과(현 IT공학과) 전공 수업 '프로그래밍기초' 수강</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">23.00</h3>
      <p class="version-date">2016.03.02.</p>
    </div>
    <p class="version-content">융합형 AI 로봇의 탄생</p>
    <p class="version-content version-content-gray">IT공학과 복수전공 선택</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">23.01</h3>
      <p class="version-date">2016.03.02.</p>
    </div>
    <p class="version-content">Ruby on Rails/HTML/CSS 학습 및 교육 Beta</p>
    <p class="version-content version-content-gray">비전공자 대상 코딩 교육 동아리 '멋쟁이사자처럼' 숙명여자대학교 4기 운영진</p>
    <p class="version-content version-content-gray">- 숙명여자대학교 4기 회원 교육 담당</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.00</h3>
      <p class="version-date">2017.01.10.</p>
    </div>
    <p class="version-content">프라임사업단 겨울방학 집중과정 'Ruby 활용 웹 구축 프로젝트' 멘토로 참여</p>
    <p class="version-content version-content-gray">- 웹 서비스 기획 및 개발에 도움</p>
    <p class="version-content version-content-gray">- 맡았던 팀이 1 위 수상</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.01</h3>
      <p class="version-date">2017.03.02.</p>
    </div>
    <p class="version-content">Python 데이터 학습 시작</p>
    <p class="version-content version-content-gray">IT공학과 전공 수업 '프로그래밍입문' 수강</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.02</h3>
      <p class="version-date">2017.03.02.</p>
    </div>
    <p class="version-content">Ruby on Rails 교육 기능 추가</p>
    <p class="version-content">CSS3 심화 학습 시작 및 교육 기능 추가</p>
    <p class="version-content version-content-gray">비전공자 대상 코딩 교육 동아리 '멋쟁이사자처럼' 숙명여자대학교 5기 운영진 및 중앙운영진</p>
    <p class="version-content version-content-gray">- 5기 커리큘럼 구성 참여</p>
    <p class="version-content version-content-gray">- 아이디어톤, 해커톤 행사 기획 및 진행 담당</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.03</h3>
      <p class="version-date">2017.07.15.</p>
    </div>
    <p class="version-content">멋쟁이사자처럼 아이디어톤 TOP 10 수상</p>
    <p class="version-content version-content-gray">웹 기반 야외 추리 게임 CodeName:SEOUL 기획</p>
    <p class="version-content version-content-gray">웹 서비스 기획 아이디어 피칭 대회에서 TOP 10 수상</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.04</h3>
      <p class="version-date">2017.08.19.</p>
    </div>
    <p class="version-content">멋쟁이사자처럼 해커톤 TOP 10 수상</p>
    <p class="version-content version-content-gray">무박 2일의 코딩 대회에서 TOP 10 수상</p>
    <p class="version-content version-content-gray">CodeName:SEOUL 개발 완료</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.05</h3>
      <p class="version-date">2017.09.02.</p>
    </div>
    <p class="version-content">CodeName 창업</p>
    <p class="version-content version-content-gray">CodeName:SEOUL 서비스 확장 시작</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">24.06</h3>
      <p class="version-date">2017.12.13.</p>
    </div>
    <p class="version-content">홈 보안 시스템 BerrySafe</p>
    <p class="version-content version-content-gray">라즈베리파이를 이용한 IoT 시스템 기획 및 개발</p>
    <p class="version-content version-content-gray">- 5기 커리큘럼 구성 참여</p>
    <p class="version-content version-content-gray">- 아이디어톤, 해커톤 행사 기획 및 진행 담당</p>
  </article>
  <hr>
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">25.00</h3>
      <p class="version-date">2018.04.05.</p>
    </div>
    <p class="version-content">IT공학과 졸업작품 전시회</p>
    <p class="version-content version-content-gray">CodeName:SMU</p>
    <p class="version-content version-content-gray">증강현실(AR)과 방탈출 게임을 결합한 야외 추리 게임 개발</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">25.01</h3>
      <p class="version-date">2018.06.12.</p>
    </div>
    <p class="version-content">Javascript 데이터 학습 완료</p>
    <p class="version-content version-content-gray">Codecademy Javascript 코스 수강 완료</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">25.02</h3>
      <p class="version-date">2018.06.26.</p>
    </div>
    <p class="version-content">Java 데이터 학습 완료</p>
    <p class="version-content version-content-gray">Codecademy Java 코스 수강 완료</p>
  </article>
  <hr class="none-hr">
  <article class="version-log">
    <div class="version-title flex-space-between">
      <h3 class="version-name">25.03</h3>
      <p class="version-date">2018.11.03.</p>
    </div>
    <p class="version-content">AWS 해커톤 참여</p>
    <p class="version-content version-content-gray">AWS에서 주관한 무박 2일의 코딩 대회 참여</p>
    <p class="version-content version-content-gray">Junior&Senior 세대 통합을 위한 매칭 서비스 기획 및 개발</p>
  </article>
</section>